.nav {
  background-color: #1f2937;
  padding: 8px 12px;
  position: relative;
}
@media (min-width: 640px) {
  .nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 2px;
    background-color: #9a9a9a;
  }
}

.navContainer {
  position: relative;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 768px) {
}
