.customBackground {
  background: linear-gradient(
    180deg,
    rgba(31, 41, 55, 1) 10rem,
    rgb(255, 255, 255) 30rem,
    #ffffff 30rem
  );
  padding-top: 2.5rem;
  min-height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
}
.zoomImage {
  transition: transform 0.3s ease; /* Adaugă o tranziție lină pentru zoom */
}

.zoomImage:hover {
  transform: scale(1.05); /* Mărește imaginea cu 20% la hover */
}
