/*------------------CUSTOM BACKGROUND------------------*/

.customBackground {
  padding-top: 1rem;
  min-height: 100vh;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 768px) {
  .customBackground {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*------------------LOGO TITLE------------------*/

.logoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.loginTitle {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

/*------------------ERROR MESSAGE------------------*/

.errorMessage {
  color: red;
  text-align: center;
}

/*------------------INPUT CONTAINER------------------*/

.inputContainer {
  width: 100%;
}

/*------------------INPUT FIELD------------------*/

.inputWrapper {
  position: relative;
  margin-bottom: 1.5rem;
}

.customInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgb(156, 224, 245);
  border-radius: 4px;
  background-color: transparent;
  color: white;
  transition: all 0.3s ease;
  -webkit-appearance: none;
  appearance: none;
}

.customLabel {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgb(177, 177, 177);
  pointer-events: none;
  transition: all 0.3s ease;
}

.customInput:focus,
.customInput:not(:placeholder-shown) {
  border: none;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(88, 118, 252, 0.342);
}

.customInput:focus + .customLabel,
.customInput:not(:placeholder-shown) + .customLabel {
  top: -12px;
  left: 5px;
  font-size: 12px;
  color: white;
}

.customInput::placeholder {
  color: transparent;
}

/*------------------CHECKBOX------------------*/

.customCheckbox {
  color: white;
}

:global(.form-check-label) {
  color: #008cff !important;
  font-weight: 600;
}

/*------------------FORGOT PASSWORD LINK------------------*/

.darkBlueLink {
  color: #008cff;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}
.darkBlueLink:hover {
  color: #c0c0c0;
  transform: scale(1.1);
}

/*-------BUTON-------*/

.submitButton {
  width: 100%;
  background-color: #0579ff75 !important;
  color: white;
  border-radius: 4px;
  padding: 10px 20px;
  border: none;
  font-size: 1rem !important;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitButton:hover {
  background-color: #0066ff !important;
  font-size: 1rem !important;
  transform: scale(1.1);
}

.submitButton:disabled {
  background-color: #b0b0b0;
  cursor: not-allowed;
}

/*------------------NOT A MEMBER TEXT------------------*/

.notAMemberText {
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.registerLink {
  color: #008cff;
  font-weight: 600;
  font-weight: bold;
  text-decoration: underline;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
}

.registerLink:hover {
  color: #c0c0c0;
  transform: scale(1.05);
}
