.customBackground {
  background: linear-gradient(
    180deg,
    rgba(31, 41, 55, 1) 20%,
    rgb(255, 255, 255) 40rem,
    #ffffff 30rem
  );
  padding-top: 1rem;
  min-height: 100vh;
  padding-left: 2rem; 
  padding-right: 2rem;
}

@media (min-width: 768px) {
  .customBackground {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.logoTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.darkBlueLink {
  color: #0154d1;
  font-weight: 600;
  text-decoration: underline;
}
